body{
        font-family: 'Raleway', sans-serif;
    background: #F5F5F5;
}
#cf {
  position:absolute;
  height:670px;
  width:103%;
    margin-left: -6px;
margin-top: -5px;
    background: url(../img/pattern_stripe.png);
}

#cf #pic {
  position:absolute;
  left:-2;
    top: -2px;
    overflow-x: none;
/*    overflow-y: none;*/
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

 @keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf #pic.top {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 10s;
animation-direction: alternate;
}
.top {
    max-height: 670px;
    overflow: none;
    min-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    filter: brightness(50%);
    background: url(../img/pattern_stripe.png);
    z-index: -100;

}
.bottom {
    max-height: 670px;
    overflow: none;
    min-width: 100%;
    overflow: hidden;
        overflow-y: hidden;
    overflow-x: hidden;
        filter: brightness(50%);
    background: url(../img/pattern_stripe.png);
    z-index: -100;
}
.link-buttons-large{
    margin-left: 75%;
    color: white;
}
.link-button{
    float: left;
    margin-left: 20px;
    margin-top: 30px;
    border: 1px solid white;
    font-size: 13px;
    padding: 6px;
    cursor: pointer;
}
.link-button:hover{
    background: white;
    color: black;
}
.site-name{
    position: absolute;
    top: 20%;
    left: 35%;
    color: white;

}
.logo-tags{
    font-size: 4em;
}
.header-title{
    cursor: none;
}
.header-title-large{
    font-size: 2em;
    margin-left: -150px;
}
.header-title-small{
    font-size: 1.5em;
    margin-left: -210px;
}

.header-button{
    position: absolute;
    left: 30px;
    border-radius: 25px;
    background: #fff;
    padding: 20px;
    width: 200px;
    height: 15px;
    color: black;
    text-transform: uppercase;
    text-align:center;
    cursor: pointer;
}
.header-button:hover{
    background: transparent;
    color: white;
    border: 2px solid white;
}
.jobssection{

    width: 60%;
    margin-left: 10%;
}
.jobslist{
    width: 60%;
    margin-left: 10%;
    height: 100px;
}
.featured-title{
    font-size: 2.5em;
}
.jobs-logo{
    float: left;
}
.jobs-title{
    margin-left: 20px;
    font-size: 0.8em;
}
.job-title{
    float: left;
/*    margin-left: 30px;*/
    width: 250px;
    text-align: center;
}
.jobs-company{
    margin-left: 20px;
    font-size: 0.5em;
    color: gray;
}
.job-location{
    float: left;
     width: 100px;

}
.jobs-location{
    font-size: 0.9em;

}
.job-stats{
    font-size: 0.7em;

float: left;
}
.jobs-type{
    border: 1px solid green;
    padding: 5px;
    font-size: 0.6em;
    background: green;
    color: white;
}
.jobs-posted{
    position: absolute;
    margin-top: 9px;
}
.apply-button{
     border-radius: 25px;
    background: orange;
    padding: 10px;
    width: 100px;
    height: 14px;
    float: left;
    margin-left: 60px;

    text-align: center;
    font-size: 0.7em;
    cursor: pointer;
}
.apply-button:hover{
    background: transparent;
    border: 1px solid orange;
    color: orange;
}
.left-jobs{
background: #F5F5F5;

}
.jobsbanner{
    height: 55px;
}
.right-jobs{
    max-width: 40%;
    margin-left: 55%;
    margin-top: 60px;
    background: #F5F5F5;
}
.right-jobs-title{
    font-size: 2.5em;
    margin-left: -300px;
}
.job-featured-item{
    color: white;
    font-size: 2em;
}
.job-featured-content{
    color: white;
    font-size: 0.8em;
}
.button-view-job{
     border-radius: 25px;
    background: #fff;
    padding: 20px;
    width: 150px;
    height: 3px;
    margin-top: 250px;
    text-align: center;
    color: black;
    cursor: pointer;

}
.button-view-job:hover{
    border: 2px solid white;
    color: white;
    background: transparent;
}
.how-it-works-large{
width: 100%;
    background: white;
}
/* line 5, ../sass/cari.scss */
.carousel-wrapper {
  position: relative;
}
/* line 8, ../sass/cari.scss */
.carousel-wrapper .carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
/* line 18, ../sass/cari.scss */
.carousel-wrapper .carousel-item .arrow {
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  background: url("../img/arrow.png") 50% 50%/20px no-repeat;
}
/* line 27, ../sass/cari.scss */
.carousel-wrapper .carousel-item .arrow.arrow-prev {
  left: 0;
}
/* line 31, ../sass/cari.scss */
.carousel-wrapper .carousel-item .arrow.arrow-next {
  right: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 38, ../sass/cari.scss */
.carousel-wrapper .carousel-item.light {
  color: white;
}
/* line 41, ../sass/cari.scss */
.carousel-wrapper .carousel-item.light .arrow {
  background: url("../arrow.png") 50% 50%/20px no-repeat;
}
@media (max-width: 480px) {
  /* line 47, ../sass/cari.scss */
  .carousel-wrapper .carousel-item .arrow, .carousel-wrapper .carousel-item.light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}
/* line 54, ../sass/cari.scss */
.carousel-wrapper [id^="target-item"] {
  display: none;
}
/* line 58, ../sass/cari.scss */
.carousel-wrapper .item-1 {
  z-index: 2;
  opacity: 1;
  background:url(../img/laptop-mobile.jpg);
    background-size: cover;
}
/* line 63, ../sass/cari.scss */
.carousel-wrapper .item-2 {
  background:url(../img/woman-typing-writing-windows.jpg);
    background-size: cover;
}
/* line 66, ../sass/cari.scss */
.carousel-wrapper .item-3 {
  background: url("../img/coder.jpg") no-repeat;
  background-size: cover;
}
/* line 71, ../sass/cari.scss */
.carousel-wrapper *:target ~ .item-1 {
  opacity: 0;
}
/* line 75, ../sass/cari.scss */
.carousel-wrapper #target-item-1:target ~ .item-1 {
  opacity: 1;
}
/* line 79, ../sass/cari.scss */
.carousel-wrapper #target-item-2:target ~ .item-2, .carousel-wrapper #target-item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

.how-it-works-title{
    text-align: center;
    font-size: 3em;
}
.module-one {
    text-align: center;

}.module-two {
    text-align: center;

}
.header-module{
    font-weight: bold;
}
.github-button{
    background: black;
    color: white;
}
@media only screen and (max-width: 500px) {
    #cf {

    }
}
